.dropdown-select .dropdown-toggle {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}
.dropdown-select .dropdown-toggle:before {
    float: right;
    vertical-align: bottom;
    font-size: 6px;
    font-family: 'Glyphicons Halflings';
    content: "\e252";
}
.dropdown-select .dropdown-menu > .options > button {
    width: 50%;
}
.dropdown-select .dropdown-menu > li > a {
    cursor: pointer;
}
.dropdown-select .dropdown-items > .item.selected:before {
    margin-right: 5px;
    font-family: 'Glyphicons Halflings';
    content: "\e013";
}